
<app-header></app-header>

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a routerLink="/home">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>

						<tr *ngFor="let product of cartProducts">
							<td class="cart_product">
								<a href=""><img src="/assets/images/shop/{{product.productId.images}}.jpg" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{product.productId.title}}</a></h4>
								<p>Web ID: {{product.productId.sku}}{{product._id}}</p>
							</td>
							<td class="cart_price">
								<p>${{product.productId.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">

									<a class="cart_quantity_down cursor-pointer" (click)="decrementProductQty(product)"> - </a>
									<!-- <input class="cart_quantity_input" type="text" name="quantity" [(ngModel)]="product.productQty" readonly (onchange)="updateQty(product)"  autocomplete="off" size="2"> -->
									<input class="cart_quantity_input" type="text" name="quantity" [(ngModel)]="product.productQty" readonly  autocomplete="off" size="2">
									<a class="cart_quantity_up cursor-pointer"  (click)="incrementProductQty(product)"> + </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">${{product.productId.price * product.productQty}}</p>
							</td>
							<td class="cart_delete">
								<!-- <a class="cart_quantity_delete" (click)="open(content)"><i class="fa fa-times"></i></a> -->
								<a class="cart_quantity_delete cursor-pointer" (click)="removeCartProduct(product)"><i class="fa fa-times"></i></a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

<!-- <app-confirmmodal></app-confirmmodal> -->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<!--<h3>What would you like to do next?</h3>
				 <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p> -->
			</div>
			<div class="row">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>${{shopcart.grossTotal}}</span></li>
							<li>Eco Tax <span>${{shopcart.tax}}</span></li>
							<li>Shipping Cost <span>{{shopcart.shippingCost}}</span></li>
							<li>Total <span>${{shopcart.netTotal}}</span></li>
						</ul>
							<!-- <a class="btn btn-default update" href="">Update</a> -->
							<a class="btn btn-default check_out" href="/checkout">Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->

<app-footer></app-footer>
