
<app-header></app-header>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
          <div class="left-sidebar">
            <h2>My Account</h2>
            <div class="panel-group category-products" id="accordian"><!--category-productsr-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a routerLink="/myaccount">My Profile</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a routerLink="/myaccount">My Orders</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title"><a routerLink="/myaccount">My Addresses</a></h4>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <!-- <h4 class="panel-title"><a routerLink="/myaccount">Change Password</a></h4> -->
                </div>
              </div>
            </div><!--/category-productsr-->

          </div>
				</div>

				<div class="col-sm-9 padding-right">
          <div class="step-one" id="profile">
    				<h2 class="heading">My Profile</h2>
    			</div>
    			<div class="checkout-options clearfix">
            <div class="col-sm-6 clearfix">
              <div class="login-form"><!--profile form-->
    						<h2>Edit your profile here</h2>
    						<form name="updateProfile" (ngSubmit)="profile.form.valid && saveUpdateProfile(userProfile)" #profile="ngForm">

									<input class="form-control" type="text" placeholder="Company Name" name="company" [(ngModel)]="userProfile.company" #company="ngModel" />

									<!-- <input class="form-control" type="email" placeholder="Email *"  name="email" [(ngModel)]="userProfile.email" #email="ngModel" [email]="true" required readonly /> -->
									<input class="form-control" type="email" placeholder="Email *"  name="email" [(ngModel)]="userProfile.email" #email="ngModel" [email]="true" required readonly />
									<div *ngIf="email.invalid  && !profileSubmitted"  class="alert alert-danger">
										<div *ngIf="email.errors?.required">
											Email is required.
										</div>
										<div *ngIf="email.errors?.email">
											Invalid email.
										</div>
									</div>

									<input class="form-control" type="text" placeholder="Title" name="title" [(ngModel)]="userProfile.title" #title="ngModel">
									<input class="form-control" type="text" placeholder="First Name *" name="name" [(ngModel)]="userProfile.name" #name="ngModel" required>
									<div *ngIf="name.invalid  && !profileSubmitted"  class="alert alert-danger">
										<div *ngIf="name.errors?.required">
											Name is required.
										</div>
									</div>
									<input class="form-control" type="text" placeholder="Last Name" name="lname" [(ngModel)]="userProfile.lname" #lname="ngModel">

    							<button type="submit" class="btn btn-default">Update</button>
    						</form>
    					</div><!--/profile form-->
            </div>
    			</div>

          <div class="step-one" id="myorders">
    				<h2 class="heading">My Orders</h2>
    			</div>
    			<div class="checkout-options clearfix">

              <div class="login-form">
  						<h2>Your order history</h2>

							<div class="table-responsive cart_info">
								<table class="table table-condensed">
									<thead>
										<tr class="cart_menu">
											<td class="description"><strong>Order</strong></td>
											<td class="price"><strong>Date</strong></td>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let userOrder of userOrders">
											<td>
												<a href="/order-detail/{{userOrder._id}}">{{userOrder._id}}</a>
											</td>
											<td>{{userOrder.createdAt}}
											</td>
										</tr>
									</tbody>
								</table>
							</div>

  					</div>
    			</div>

          <div class="step-one">
    				<h2 class="heading">My Addresses</h2>
    			</div>
    			<div class="checkout-options clearfix">
            <div class="col-sm-6 clearfix">
              <div class="bill-to">
  							<p>Your default address</p>
  							<div class="form-one form-two">
  								<form name="updateAddress" (ngSubmit)="address.form.valid && saveShippingAddress(userAddress)" #address="ngForm">

  									<!-- <input type="text" placeholder="Address 1 *"> -->
										<input class="form-control" type="text" placeholder="Address 1 *"  name="address1" [(ngModel)]="userAddress.address1" #address1="ngModel"  required />
										<div *ngIf="address1.invalid  && (addressSubmitted || address1.touched)"  class="alert alert-danger">
											<div *ngIf="address1.errors?.required">
												Address1 is required.
											</div>
										</div>

										<input class="form-control" type="text" placeholder="Address 2"  name="address2" [(ngModel)]="userAddress.address2" #address2="ngModel"  />

                    <input class="form-control" type="text" placeholder="Zip / Postal Code *" name="zipcode" [(ngModel)]="userAddress.zipcode" #zipcode="ngModel">
  									<select class="form-control"  name="country" [(ngModel)]="userAddress.country" #country="ngModel">
  										<option value="">-- Country --</option>
  										<option value="United States">United States</option>
                      <option value="UK">UK</option>
  										<option value="India">India</option>
  										<option value="Pakistan">Pakistan</option>
  										<option value="Ukraine">Ukraine</option>
  										<option value="Canada">Canada</option>
  										<option value="Dubai">Dubai</option>
  									</select>
  									<select class="form-control"  name="state" [(ngModel)]="userAddress.state" #state="ngModel">
  										<option value="">-- State / Province / Region --</option>
											<option value="Rajasthan">Rajasthan</option>
											<option value="Delhi">Delhi</option>
											<option value="Uttar Pradesh">Uttar Pradesh</option>
											<option value="Madhya Pradesh">Madhya Pradesh</option>
											<option value="Punjab">Punjab</option>
											<option value="Himachal">Himachal</option>
											<option value="Bengal">Bengal</option>
  									</select>
  									<!-- <input type="text" placeholder="Phone *"> -->
  									<!-- <input type="text" placeholder="Mobile Phone *"> -->
										<input class="form-control" type="text" placeholder="Mobile Phone *"  name="mobile" [(ngModel)]="userAddress.mobile" #mobile="ngModel"  required />
										<div *ngIf="mobile.invalid  && addressSubmitted"  class="alert alert-danger">
											<div *ngIf="mobile.errors?.required">
												Mobile is required.
											</div>
										</div>
										<button type="submit" class="btn btn-default" (click)="addressSubmitted = true">Update</button>

  								</form>
  							</div>
  							<!-- <div class="form-two">
  								<form>
  								</form>
  							</div> -->
  						</div>
			      </div>
    			</div>


          <div class="step-one">
    				<h2 class="heading">Change Password</h2>
    			</div>
    			<div class="checkout-options clearfix">
            <div class="col-sm-6 clearfix">
              <div class="login-form"><!--orders form-->
    						<h2>Change your password here</h2>
    						<form action="#">
    							<input type="text" placeholder="Old Password" />
    							<input type="email" placeholder="New Password" />
    							<input type="email" placeholder="Confirm Password" />

    							<button type="submit" class="btn btn-default">Update</button>
    						</form>
    					</div><!--/orders form-->
            </div>
    			</div>


				</div>
			</div>
		</div>
	</section>

<app-footer></app-footer>
